<div class="col-xs-3">
	<h2>User info</h2>
	<% if @user.profile_image.present? %>
		<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg' %>
	<% else %>
		<%= image_tag 'noimage.gif', :height => "100" %>
	<% end %>
	<table class="table">
		<tbody>
			<tr></tr>
			<tr>
				<th>name</th>
				<th><%= @user.name %></th>
			</tr>
			<tr>
				<th>introduction</th>
				<th><%= @user.introduction %></th>
			</tr>
		</tbody>
	</table>
	<div class="row">
		<%= link_to "", edit_user_path(current_user.id), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{current_user.id}" %>
	</div>
	<h2>New Book</h2>
	<%= form_for(@book, url: books_path, :html => {:class => "new_book", :id => "new_book"}) do |f| %>
		<div class="field row">
			<div class="field_with_errors">
				<label for="book_title">Title</label>
			</div>
			<div class="field_with_errors">
				<%= f.text_field :title, placeholder:"Title", class: "col-xs-12 book_title", name: "book[title]", id: "book_title" %>
			</div>
		</div>
		<div class="field row">
			<label for="book_opinion">Opinion</label>
			<div class="field_with_errors">
				<%= f.text_area :body, placeholder:"Opinion", class: "col-xs-12 book_body", name: "book[body]", id: "book_body" %>
			</div>
		</div>
		<div class="actions row">
			<%= f.submit "Create Book", class: "btn btn-primary col-xs-12", name: "commit" %>
		</div>
    <% end %>
</div>
